.card {
  width: 18rem;
  padding: 25px;
  margin-bottom: 25px;
  border: none;

  img {
    width: 100%;
    height: 200px;
  }

  .btn-outline-primary, .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-outline-secondary {
    width: 100%;
  }
}
