.card {
  width: 18rem;
  padding: 25px;
  margin-bottom: 25px;
  border: none;

  img {
    width: 100%;
    height: 200px;
  }

  .btn-outline-primary, .btn-primary {
    width: 100%;
    font-size: 11px;
    margin-bottom: 10px;
  }

  .btn-outline-secondary, .btn-secondary {
    width: 100%;
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .responsive-card {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.responsive-card {
  width: inherit;
  padding: 1rem!important;
  margin-bottom: 1rem!important;
  border-radius: .25rem!important;
  background-color: #ffffff!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
